<p id="notice"><%= notice %></p>

<h1>Listando Produtos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Código</th>
      <th>Preço</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each_with_index do |product, index| %>
      <tr class="<%= css_class(index) %>">
        <td><%= product.name %></td>
        <td><%= product.code %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
